<div id="slideshow">
    <div class="home image-fader hoverable">
      <img src="images/interface/buttonHome.png">
      <img src="images/interface/buttonHomeOver.png">
    </div>
    <div class="left-arrow image-fader hoverable">
      <img src="images/interface/arrowLeft.png">
      <img src="images/interface/arrowLeftOver.png">
    </div>
    <div class="right-arrow image-fader hoverable">
      <img src="images/interface/arrowRight.png">
      <img src="images/interface/arrowRightOver.png">
    </div>
    <div class="exit-fullscreen image-fader hoverable">
      <img src="images/interface/exitFullscreen.png">
      <img src="images/interface/exitFullscreenOver.png">
    </div>
</div>
